@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pretendard: 'Pretendard', sans-serif;
  --wavepado: 'Wavvepado', sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  max-width: 600px;
  margin: 0 auto;
  min-height: 600px;
  color: #1a1a25;
  overflow-x: hidden;
  font-family: var(--pretendard), sans-serif;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.rounded-main {
  border-radius: 12px;
}

.red-gradient {
  border-radius: 0px 0px 20px 20px;
  background: linear-gradient(180deg, #fff 0%, #fffafa 34.96%, #ffdcd7 100%);
}

.red-gradient-2 {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    #ff4f38 -70.88%,
    #ffd2cc 30.2%,
    #ffedea 96.73%,
    #fff 100%
  );
}
